spring:
  application:
    name: Foreign language courses
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/foreign_language_courses_db?currentSchema=public
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 100
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
      pool-name: HikariCP
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true
        use_sql_comments: true
  data:
    mongodb:
      uri: mongodb://root:secret@localhost:27017/foreign_language_courses
